<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
    <div th:insert="nav.html"></div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>SURNAME</th>
                    <th>EXAM</th>
                    <th>MARK</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student: ${students}" th:style="${student.exam < 50 ? 'color:red; font-weight:bold' : ''}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.surname}"></td>
                    <td th:text="${student.exam}"></td>
                    <td th:text="${student.mark}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>